<div class="row">
<div class="column two-thirds">
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <small>50 character limit</small><br>
    <%= f.text_field :title, :maxlength => 50, size: '60x1' %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <small>500 character limit</small><br>
    <%= f.text_area :body, :maxlength => 500, size: '80x100' %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags, :maxlength => 75, size: '60x1' %>
  </div>
  <div class="actions">
    <%= f.submit "Admire your work", :class => 'button button-primary' %>
  </div>
<% end %>
</div>

<div class="column one-third">
<table class="u-full-width">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><h3><%= post.title.titleize %></h3>
            <p><small><%= post.tags %></small></p>
            <p><%= post.body.truncate_words(25) %></p>
        <p><%= link_to 'Show', post, :class => 'button' %>
        <%= link_to 'Edit', edit_post_path(post), :class => 'button' %>
        <%= link_to 'Destroy', post, :class => 'button', method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>