<p id="notice"><%= notice %></p>

<p>The Bathroom Wall is a social experiment. It is a place to anonymously post your thoughts in 50 words or less.</p>
<table class="u-full-width">
  
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><h3><%= post.title %></h3>
            <p><small><%= post.tags %></small></p>
            <p><%= post.body %></p>
        <p><%= link_to 'Show', post, :class => 'button' %>
        <%= link_to 'Edit', edit_post_path(post), :class => 'button' %>
        <%= link_to 'Destroy', post, :class => 'button', method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

