<p id="notice"><%= notice %></p>

<p>Internet Graffiti is a social experiment. It is a place to anonymously post your thoughts in 50 words or less. This site does not have a log-in and does not collect your information. It is here to see how many people will contribute to the site.</p>
<table class="u-full-width">
  
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><h3><%= link_to post.title.titleize, post %></h3>
            <p><small><%= post.tags %></small></p>
            <p><%= post.body.truncate_words(25) %></p>
        <p><%= link_to 'Show', post, :class => 'button' %>
        <%= link_to 'Edit', edit_post_path(post), :class => 'button' %>
        <%= link_to 'Destroy', post, :class => 'button', method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

